ul{
    padding-left:0;
    }
     
li{
    list-style: none;
    display: inline;
    padding-right: 10px;
    }
     
body > header{
    background-color: aquamarine;
    }

    #contenido{
        background: rgb(0, 0, 0);
        }
         
        body > footer{
        background: rgb(143, 125, 125);
        }
         
        body{
        color: rgb(0, 0, 0);
        text-align: center;
        }
